<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="p-5 bg-light">

    <h2>Vista de Ventas</h2>
    <p>Aquí podrás manejar las ventas en el futuro.</p>

    <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Regresar al inicio</a>

</body>
</html>
